<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Book</title>
    <%- include('style') %>
  </head>
  <body>
    <%- include('nav'); %>
    <main>
      <form action="/add" method="POST" id="add-form">
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" required />
          <div style="font-size: 0.75rem">Case sensetive</div>
        </div>
        <div>
          <label for="author">Author</label>
          <input type="text" name="author" required />
          <div style="font-size: 0.75rem">Case sensetive</div>
        </div>
        <div>
          <label for="genre">Genre</label>
          <input type="text" name="genre" required />
          <div style="font-size: 0.75rem">Single genre</div>
        </div>
        <button type="submit">Add</button>
      </form>
    </main>
  </body>
</html>
