<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <%- include('style'); %>
  </head>
  <body>
    <%- include('nav'); %>
    <main style="max-width: 70%">
      <h1>Book Inventory Project!</h1>
      <p>
        This is a book inventory app completed as a part of the Odin Project's
        Node course. This app allows you to interact with a Postgresql database
        to view, add, update, and delete records representing books, authors,
        and genres.
      </p>
      <div>
        <p>
          View the code on
          <a
            href="https://github.com/jamesspearsv/inventory_top"
            style="color: blue"
            >GitHub</a
          >
        </p>
      </div>
    </main>
  </body>
</html>
