<div id="add">
  <a href="/add">
    <button>Add</button>
  </a>
</div>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/titles">Titles</a></li>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/genres">Genres</a></li>
  </ul>
</nav>
