body {
  font-family: system-ui;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

#add {
  position: fixed;
  top: 2rem;
  right: 1rem;
}

main {
  padding: 1rem;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  color: white;
}

button.danger {
  background-color: #dc3545;
}
